div.number_block {
    width: 22px;
    height: 22px;
    text-align: center;
    border: 1px solid green;
    display: inline-block;
    margin: 3px;
}

div.number_block a:link {
    text-decoration: none;
}

div.number_block a:visited {
    text-decoration: none;
}

div.number_block a:hover {
    text-decoration: none;
}

div.number_block a:active {
    text-decoration: none;
}

.error_with_icon {
    background-image: url('/static/images/error_icon.png');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    padding-top: 5px;
    padding-left: 40px;
    /* width of the image plus a little extra padding */
    height: 100px;
    display: block;
    /* may not need this, but I've found I do */
}